﻿
@{
    ViewBag.Title = "Candidate";
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" media="screen" />*@
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" media="screen" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    div.top {
        margin-top: 50px;
    }
</style>


<div class="container top">

    <div class="row">
        <button class="btn btn-link btn-lg new"><i class="fa fa-user-plus"></i></button>
    </div>

    <table id="candidates" class="table table-striped table-hover" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CV</th>
                <th style="width:7%"></th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CV</th>
                <th style="width:7%"></th>
            </tr>
        </tfoot>
    </table>

</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="title" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    @*<form method="post" enctype="multipart/form-data">*@
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control validate" id="firstname" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control validate" id="lastname" placeholder="Enter Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control validate" id="email" placeholder="Enter Email" required>
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="tel" class="form-control validate" id="mobile" placeholder="Enter Mobile" required>
                        </div>

                        <div class="form-group">
                            @*<label for="resume">CV</label>*@

                            <a id="uploadedResume" class="btn btn-info btn-outline btn-block hidden"></a>
                            <a id="deleteResume" class="btn btn-danger btn-block hidden"><i class="fa fa-trash"></i></a>
                            
                            <input id="resume" type="file" class="form-control">

                        </div>

                        <input id="id" type="hidden" />
                    @*</form>*@
                </div>

            </div>
            <div class="modal-footer">
                <button id="Save" type="button" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>


@*Delete Modal*@

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>

            <div class="modal-body">
                <p>You are about to delete one candidate.</p>
                <small>Do you want to proceed?</small>
                <input id="deleteId" type="hidden" value=""/>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="Delete" class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Scripts/candidate.js"></script>

